<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Omer Stein. It uses API data from mapbox.com and darksky.net</p>
        <br>
        <img src="https://m.media-amazon.com/images/M/MV5BMzQyZGU5ZDAtMjMwNS00NjA2LTg4NzAtZDY4NWY3ZjYzYTZhL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTc3MjUzNTI@._V1_.jpg">
        

    </div>    
    
    {{>footer}}
</body>
</html>