<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}



        <form>
            <p>Use this site to get your weather!</p>
            <input placeholder="Location">
            <button>Search</button>
            <p class="tiny-fade" id="wlocation"></p>
        </form>
        <p id="status"></p>
        <div class="row">

            <div class="col">
                <div class="table main-temp">
                    <p id="wtemp"></p>
                    <img id="wicon" alt="Weather Icon" src="">
                </div>

            </div>
            <div class="col">
                <p id="wforecast"></p>
                {{!-- <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div> --}}

                <div class="table">
                    <div class="block small-fade">
                        <div class="cell">
                            <p id="hightemp"></p>
                            <p id="lowtemp"></p>
                        </div>
                        <div class="cell">
                            <p id="hightemp-time"></p>
                            <p id="lowtemp-time"></p>
                        </div>
                        <p id="date-time"></p>
                    </div>
                </div>

            </div>

        </div>


    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>